<div class="ui one column stackable grid">
    <div class="column">
        {{ form_errors(form) }}
        <div class="ui segment">
            {{ form_row(form.title) }}

            {{ form_row(form.body) }}

            {{ form_row(form.channel) }}

            {{ form_row(form.receiver, { attr: { 'data-form-field': 'receiver' } }) }}

            <div data-form-row="send-to">
                {{ form_row(form.group) }}
            </div>

            <div data-form-row="user">
                {{ form_row(form.userEmail) }}
            </div>
        </div>
    </div>
</div>
