{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'speardevs_sylius_push_notifications_plugin.ui.my_account.push_notification_history'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <h1 class="ui header">
        {{ 'speardevs_sylius_push_notifications_plugin.ui.push_notification_history.heading'|trans }}
    </h1>

    <span>{{ 'speardevs_sylius_push_notifications_plugin.ui.push_notification_history.unread'|trans }}: {{ app.user|countOfNotReceivedPushNotifications }}</span>

    {{ sylius_grid_render(resources, '@SyliusShop/Grid/_default.html.twig') }}

{% endblock %}
